<% if current_user.put_in?(product) %>
    <% basket = current_user.baskets.find_by(product_id: product.id) %>
    <%= form_with(model: basket, local: true) do |f| %>
        <%= f.number_field :number, in: 1.0..product.stock, step: 1.0, value: basket.number, class: 'form-control' %>
        <%= hidden_field_tag :product_id, product.id %>
        <%= f.submit '変更', class: 'btn btn-danger btn-block' %>
    <% end %>
<% elsif product.stock == 0 %>
    <p>購入不可</p>
<% else %>
    <%= form_with(model: current_user.baskets.build, local: true) do |f| %>
        <%= f.number_field :number, in: 1.0..product.stock, step: 1.0, value: 1, class: 'form-control' %>
        <%= hidden_field_tag :product_id, product.id %>
        <%= f.submit '購入', class: 'btn btn-primary btn-block' %>
    <% end %>
<% end %>