<% if user.put_in?(product) %>
    <% basket = user.baskets.find_by(product_id: product.id) %>
    <%= form_with(model: basket, local: true) do |f| %>
        <%= f.number_field :number, in: 1.0..product.stock, step: 1.0, value: basket.number %>
        <%= hidden_field_tag :product_id, product.id %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= f.submit '変更' %>
    <% end %>
<% elsif product.stock == 0 %>
    <p>購入不可</p>
<% else %>
    <%= form_with(model: user.baskets.build, local: true) do |f| %>
        <%= f.number_field :number, in: 1.0..product.stock, step: 1.0, value: 1 %>
        <%= hidden_field_tag :product_id, product.id %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= f.submit '購入' %>
    <% end %>
<% end %>