<h1>お支払い方法 /　お届け先指定</h1>
<%= link_to 'ユーザー一覧', users_path %>
<%= link_to '在庫一覧', stocks_products_path %>

<table>
    <tr>
        <th rowspan="2">履歴ID</th>
        <th rowspan="2">購入者</th>
        <th rowspan="2">購入日</th>
        <th rowspan="2">購入総額</th>
        <th colspan="3">購入内訳</th>
        <th rowspan="2">支払い方法</th>
        <th rowspan="2">お届け先</th>
        <th rowspan="2">現状態</th>
    </tr>
    <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>購入個数</th>
    </tr>
    <% @purchases.each do |purchase| %>
        <% count = purchase.goods.count %>
        <% @purchase_sum = cul_sum(purchase) %>
        <% @purchase_status = status_check(purchase) %>
        <tr>
            <td rowspan="<%= count%>"><%= purchase.id %></td>
            <td rowspan="<%= count%>"><%= purchase.user.name %></td>
            <td rowspan="<%= count%>"><%= purchase.id %></td>
            <td rowspan="<%= count%>"><%= @purchase_sum %></td>
            <td><%= purchase.goods.first.product.name %></td>
            <td><%= purchase.goods.first.product.price %></td>
            <td><%= purchase.goods.first.number %></td>
            <td rowspan="<%= count%>"><%= purchase.payment %></td>
            <td rowspan="<%= count%>"><%= purchase.address %></td>
            <td rowspan="<%= count%>"><%= @purchase_status %></td>
        </tr>
        <% flag = 0 %>
        <% purchase.goods.each do |good| %>
            <% unless flag == 0 %>
                <tr>
                    <td><%= good.product.name %></td>
                    <td><%= good.product.price %></td>
                    <td><%= good.number %></td>
                <tr>
            <% else %>
                <% flag = 1 %>
            <% end %>
        <% end %>
    <% end %>
</table>