<h1>toppage</h1>
<% if logged_in? %>
    <%= link_to current_user.name, current_user %>
    <%= link_to '買い物かご' , shoppings_user_path(current_user) %>
    <%#= link_to '買い物かご' , new_purchase_path %>
    <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>
    <%= link_to 'ログイン', login_path %>
    <%= link_to '新規登録', new_user_path %>
<% end %>
<table>
    <tr>
        <th>商品画像</th>
        <th>製品名</th>
        <th>価格</th>
        <th>説明</th>
        <th>ステータス</th>
        <th>個数</th>
        <th>購入<th>
    </tr>
    <% @products.each do |product| %>
        <tr>
            <th><%= product.picture %></th>
            <th>
                <%= link_to product_path(product) do %>
                    <%= product.name %>
                <% end %>
            </th>
            <th><%= product.price %></th>
            <th><%= product.explanation %></th>
            <th><%= product.status %></th>
            <th>
                <%= render 'baskets/shopping_button', product: product %>
            </th>
        </tr>
    <% end %>
</table>
<%= link_to '在庫一覧', stocks_products_path %>