<h1>toppage</h1>
<% if logged_in? %>
    <%= link_to 'ログアウト', logout_path, method: :delete %>    
    <%= link_to 'マイページ', current_user %>
<% else %>
    <%= link_to 'ログイン', login_path %>
    <%= link_to '新規登録', new_user_path %>
    <span><%= current_user.name%></span>
<% end %>
    <% basket_counts(current_user) %>
    <%= link_to shoppings_user_path(current_user), user_id: current_user.id do %>
        <span>買い物かご</span>
        <span><%= @baskets_count %></span>
    <% end %>
<table>
    <tr>
        <th>商品画像</th>
        <th>製品名</th>
        <th>価格</th>
        <th>説明</th>
        <th>ステータス</th>
        <th>個数</th>
        <th>購入<th>
    </tr>
    <% @products.each do |product| %>
        <tr>
            <th><%= render 'products/picture', product: product, rem: '5rem'%></th>
            <th>
                <%= link_to product_path(product) do %>
                    <%= product.name %>
                <% end %>
            </th>
            <th><%= product.price %></th>
            <th><%= product.explanation %></th>
            <th><%= product.status %></th>
            <th>
                    <%= render 'baskets/shopping_button', product: product, user: current_user %>
            </th>
        </tr>
    <% end %>
</table>
<% if onwer? %>
    <%= link_to '在庫一覧', stocks_products_path %>
<% end %>