<h1>show</h1>
<table>
    <tr>
        <th>商品画像</th>
        <th>製品名</th>
        <th>価格</th>
        <th>在庫数</th>
        <th>説明</th>
        <th>ステータス</th>
    </tr>
    <%= form_with(model: @produtc, local: true) do |form| %>
        <tr>
            <th><%= @product.picture %></th>
            <th><%= @product.name %></th>
            <th><%= @product.price %></th>
            <th><%= @product.stock %></th>
            <th><%= @product.explanation %></th>
            <th>
                <%= link_to edit_product_path(@product) do %>
                    <%= @product.status %>
                <% end %>
            </th>
            <th>
                <%= render 'products/delete_button', product: @product %>
            </th>
        </tr>
    <% end %>
</table>
<%= render 'products/back_top_button' %>